* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Quicksand';
  }
  
  html, body {
    margin: 0px !important;
    color: #7ba4ab;
    font-size: 16px;
    background-color: #FFFFFF; 
    width: 100%;


    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.container{
    margin-top:1%;
    wid
}

.titulo{
    background-color: #a5c05b;
    text-shadow: #a5c05b 1px 1px 0;
    padding: 0.1em 0.1em !important;
    color: white;
    font-family: "Lato";
    font-size: 1.5em;
    height: 100%;
}

.marca{
    font-size: 0.7em !important;
}

.waiting{
    background-color: #a5c05b;
    text-shadow: #a5c05b 1px 1px 0;
    padding: 0.5em 0.5em !important;
    color: white;
    font-family: "Lato";
    font-size: 1.3em;
    height: 100%;
}

.nombrecomercio{
    font-family: "Lato";
    font-size: 1.0em;
    color: #FFFFFF;
}

aside{
    /* background: #DDDEDE; */
    height: 100%;
    padding-right: 1%;
}

.bordeabajo{
    border-bottom: 1px solid #7ba4ab;
}

.nombreplato{
    font-size: 3.2vh;
    padding: 0.5em 0em !important;
}

.detalleplato{
    font-size: 0.8em;
}

.sumaplato{
    background: #a5c05b !important;
    border: none !important;
}

.rt {
        font-size: 2.2vh;
}

.precio {
    font-size: 2.8vh;
    padding: 0px !important;
}

.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none !important;
}