* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Quicksand';
  }
  
  html, body {
    margin: 0px !important;
    color: #7ba4ab;
    font-size: 16px;
    background-color: #FFFFFF; 
    width: 100%;


    overscroll-behavior-y: contain;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.container{
    margin-top:1%;
}

.marca{
    font-size: 0.7em !important;
}

/* .waiting{
    background-color: #a5c05b;
    text-shadow: #a5c05b 1px 1px 0;
    padding: 0.5em 0.5em !important;
    color: white;
    font-family: "Lato";
    font-size: 1.3em;
    height: 100%;
} */

.nombrecomercio{
    font-family: "Lato";
    font-size: 1.0em;
    color: #FFFFFF;
}

aside{
    /* background: #DDDEDE; */
    height: 100%;
    padding: 1% 0%;
}

.bordeabajo{
    border-bottom: 1px solid #7ba4ab;
}

.nombreplato{
    font-size: 3.2vh;
    padding: 0.5em 0em !important;
}

.platoencomanda{
  font-size: 2.5vh;
}

.detalleplato{
    font-size: 0.8em;
}

.sumaplato{
    background: #a5c05b !important;
    border: none !important;
}
 
.rt {
    font-size: 2.2vh;
} 

.precio {
    font-size: 2.5vh;
    padding: 0px !important;
}

.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none !important;
}

.footer {
  position: fixed !important;
  height: 40px !important;
  bottom: -10px !important;
  left: 0px;
  width: 100% !important;
  background: #232122 !important;
  color: #FFFFFF;
}

.footerhiden{
  display: block;
  height: 40px !important;
  width: 100%;
  background: #a5c05b;
}

.menu{
  position:absolute;
  top: 120px;
}

.titulo{
  background-color: #a5c05b;
  text-shadow: #a5c05b 1px 1px 0;
  padding: 0.1em 0em !important;
  color: white;
  font-family: "Lato";
  font-size: 1.5em;
  height: 80px;
  position: absolute;
  top:0px;
  width: 100%;
}